%h1 Singly OAuth Example
- if @profiles
  %h3.text-success= "Nice to see you again!"
- else
  %h3.text-warning= "Please connect a service"

- if session[:access_token]
  %p= "Your access token is #{session[:access_token]}"
  %a{:href=>"/logout"}Log out
%ul
- %w[twitter instagram].each do |service|
  %li="#{service.capitalize}"
  -if @profiles && @profiles[service]
    - @photos.each do |pic|
      %img.img-polaroid{:src=>"#{pic["data"]["images"]["low_resolution"]["url"]}"}
  -else
    %a.btn.btn-primary{:href=>"/auth/singly?service=#{service}"} Connect
