%h1 - win fashion week -
.singly.span12
  - unless @profiles
    %h2 Join the Battle
    - %w[twitter instagram].each do |service|
      %a.signin.btn.btn-primary{:href=>"/auth/singly?service=#{service}"} Connect with "#{service.capitalize}"
.trending.span6
  %h3 #Trending
  %ol  
  - @trends.each do |trend|
    - bar_width = trend[:total_mentions]*20
    %li
      %span.count
        .bar{:style=> "width: #{bar_width}px;"}
        %span.trend= trend[:name]
.leaderboard.span4
  %h3 #Leaderboard
  %ol
    %li EXAMPLE
    %li EXAMPLE
.editorial.span6
  %h3 #Hearst Editorial
  %ol
  - @articles["items"].each do |article|
    - if article["author_first_name"] && article["author_last_name"]
      - name = article["author_first_name"] + " " + article["author_last_name"]
      - if Hearst::EDITORS[name]
        %li
          %a{:href=> "#{article["canonical_url"]}"}
            %span.title= article["title"]
          %span.tease= article["promo_teaser"]
          via
          %a{:href => "http://www.twitter.com/#{Hearst::EDITORS[name]}"}
            %span.editor= Hearst::EDITORS[name]
